### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### My ###
/Screenshot from 2023-10-22 14-28-42.png
/Screenshot from 2023-10-22 14-30-23.png
/Screenshot from 2023-10-22 16-58-38.png
/Screenshot from 2023-10-22 17-03-21.png
/GIGAChat/
/old/
